@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

$borderRadius: 3px;
$offset: 150%;
$inputHeight: 70px;
$transitionEasing: cubic-bezier(.36,1,.62,.98);

$background1: rgb(69, 16, 69);
$background2: rgba(5,52,100,1);

$JD-blue: rgb(159, 115, 171);
$JD-red: rgb(159, 115, 171);
$JD-gray: rgba(230,231,238,1);
$ship-cove: rgba(159, 115, 171,1);
$wild-blue-yonder: rgba(163,199,214,1);

$secondary: $JD-red;

:root{
    --darkblue: #852999;
    --seablue: #C539B4;
    --seagray: #EF9A53;
    --seawhite: #F5D5AE;
    // Scrollbar
    --scrollbar: #C539B4;
    --scrollbar-thumb: #F5D5AE;
    --scrollbar-thumb-hover: #EF9A53;
    --scrollbar-thumb-active: #852999;
    --scrollbar-track: #C539B4;
    --scrollbar-track-hover: #C539B4;
    --scrollbar-track-active: #C539B4;
    --scrollbar-corner: #C539B4;
}

::-webkit-scrollbar {
    width: 0;
}

// compatability with older browsers to hide scrollbar
html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.bg{
    font-family: 'Courier New', Courier, monospace;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-image: url("https://img.freepik.com/fotos-premium/fondo-borroso-color-purpura-claro-rosa-fondo-degradado-lila-abstracto-arte-desenfocado-desenfoque-bokeh-fondo-pantalla-borroso_113767-5465.jpg?w=2000");
}

.divider{
    position: absolute; 
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    
}

@media (max-width: 600px) {
    .divider{
        height: 100%;
        width: 100%;
        bottom: 0;
        right: 0;
    }
    .form-input{
        font-size: 15px;
    }
    .form-container{
        margin-left: 25px;
        margin-right: 25px;
    }

    .width-definer{
        width: min(300px, 80vw);
        font-size: 15px;
        text-align: center;
    }
}

@media (min-width: 600px) {
    
    .divider{
        height: 100%;
        width: min(650px, 55%);
    }

    .form-input{
        font-size: 16px;
    }

    .form-container{
        margin-left: 0px;
        margin-right: 0px;
    }
    .width-definer{
        width: 300px;
    }
}

.logo-container{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    top: 40px;

    margin-top: 100px;
}

.logo{
    width: min(100px, 100%);
    position: relative;
}

.form-container{
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

}

.form-title{
    color: var(--darkblue);
}

.form-input{
    padding: 10px 10px;
    margin-bottom: 10px;
    display: block;
    
    width: 100%;
    box-sizing: border-box;

    color: var(--seablue);
    background: white;

    border: 1px solid var(--seagray);
    border-radius: 2px;
    
}

.form-input:focus{
    outline: none;
    border: 1px solid var(--seawhite);
    background: var(--seagray);
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--seawhite) inset;

    border: 1px solid var(--seagray);
    -webkit-text-fill-color: var(--seablue);
    
    transition: background-color 5000s ease-in-out 0s;
}


.form-button {
    width: 100%;
    display: inline-block;
    padding: 13px 12px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: none;
    border-radius: 5px;

    background: var(--darkblue);
    color: #fff;

}

.form-button:hover{
    background: var(--seablue);
}

.scrolling-section {
    overflow-y: scroll;
    overflow-x: hidden;
}

.scrolling-section::-webkit-scrollbar {
    display: none;
}
.scrolling-section {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.invalid-field{
    border: 1px solid red;
    color: red;
}
.invalid-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
}

  .invalid-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}

  .invalid-field::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}

.error-text{
    margin-top: 3px;
    margin-bottom: 3px;
    color:red;
    font-size: 0.95em;
    width: min(300px, 80vw);
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
10%, 90% {
  transform: translate3d(-1px, 0, 0);
}

20%, 80% {
  transform: translate3d(2px, 0, 0);
}

30%, 50%, 70% {
  transform: translate3d(-4px, 0, 0);
}

40%, 60% {
  transform: translate3d(4px, 0, 0);
}
}


.videoTag {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity; 
    // add filter to blur the video and make it more dark
    filter:  brightness(0.7);

}  